* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
.main{
    height: 100vh;
    width:100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submain{
    height:50%;
    width: 50%;
    background-color: aqua;
    display:flex;
}
.dog{
    height: 100%;
    width:10px;
    background-color: red;
    flex-grow: 1;
}
.predict{
    height: 100%;
    width: 10px;
    background-color: green;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.input{
    height: 20%;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 200;
}
.input input{
    width: 35%;
    margin-left: 10px;
}