* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
.main{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submain{
    height:50%;
    width: 50%;
    display:flex;
}
.dog{
    height: 100%;
    width:10px;
    background-color: white;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    flex-grow: 1;
    border-style: double;
    border-right-style:none ;
    border-width: 1em;
    border-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.predict{
    height: 100%;
    width: 10px;
    background-color: yellow;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    flex-grow: 1;
    border-style: double;
    border-left-style:none ;
    border-width: 1em;
    border-color: green;
    display: flex;
    flex-direction: column;
}
.input{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 200;
}
.input input{
    width: 35%;
    margin-left: 10px;
}
.button{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-style:dashed ;
}
.button input{
    width: 50%;
    height: 50%;
    border-radius:10em ;
    border: none;
    background-color: aqua;
}
.property{
    width: 100%;
    height: 20%;
    font-size: large;
    font-weight: 200;
    display: flex;
    align-items: center;
    margin-left: 10%;
}